<div id="wrapper"><div class="cream"></div><%=flash[:message] if flash[:message]%>
</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@profile.fname%>&nbsp;<%=@profile.lname%>
</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@profile.email%></div>