<form method="POST" action="/post-process" id="post">
	<input type="submit">
</form>
<textarea rows="4" cols="50" name="content" form="post" placeholder="Write whatever the fuck you want">
</textarea>